*{
    padding:0;
    margin:0;
    box-sizing:border-box;
     cursor: pointer;
     scroll-behavior: smooth;
}
.parent_di{
   width:100%;
   height:50px;
    border-bottom: .063rem solid #efdada;
   display:flex;
   justify-content:space-between;
  /* position:fixed; */
  background-color:white;
}
.header1{
   margin-left:120px;
}
.header1 img{
   width:100px;
   height:45px;
   margin-right: 10px;
   
}

.header2{
  display:flex;
  justify-content: center;
  align-items: center;
}
#dropdown{
   width:220px;
   height:50px;
   border-style: none;
   margin-right:10px;
   font-family:  Figtree-SemiBold, sans-serif;
    font-size: 1rem;
  font-weight: 600;
  color: #681016; 
  border-right: .063rem solid #efdada;
  /* padding-right:20px; */
  /* margin-left:0; */
}
.store_locator img{
   width:35px;
   height:20px;
   margin-right:15px;
    border-right: .063rem solid #efdada;
    padding-right:5px;
    margin-left:10px;
}
.grt_calender{
    border-right: .063rem solid #efdada;
     padding-right:5px;
     margin-right:10px;
     margin-left:10px;
}
.currency{
   margin-right:10px;
   border-right: .063rem solid #efdada;
     padding-right:5px;
     margin-left:10px;
     font-family: Figtree-Medium, sans-serif;
    font-size: clamp(14px, 2vw, 1.125rem);
    font-weight: 500;
    color: #681016;
}
.currency img{
   width:22px;
   height:15px;
   margin-right:10px;
}
.help{
  margin-right:110px;
  font-family: Figtree-SemiBold, sans-serif;
    font-size: .875rem;
    font-weight: 600;
    color: #681016;
    line-height: 1.25rem;
  /* border-right: .063rem solid #efdada;
     padding-right:5px; */
}
.parent2{
   width:100%;
   height:100px;
    border-bottom: .063rem solid #efdada;
    display:flex;
    justify-content:space-between;
    align-items:center;
    /* position:fixed; */
    background-color: white;
    /* top:50px; */
}
.left_login{
  display:flex;
  justify-content:center;
  align-items:center;
}
.grt_logo{
  margin-left:120px;
}
.grt_logo img{
  width:100px;
  height:70px;
  margin-right:20px;
}
.delivery{
  /* font-size: .75rem; */
  color: #681016;
  font-family: Figtree-SemiBold, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.25rem;
    /* white-space: nowrap; */
    margin-right:10px;
    /* margin-top:0; */
}
#virtual_shopping{
   width:220px;
   height:50px;
   border-style: none;
   margin-right:10px;
   font-family:  Figtree-SemiBold, sans-serif;
    font-size: 1rem;
  font-weight: 600;
  color: #681016; 
}
  .search {
      margin:0px;
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: 8px;
      overflow: hidden;
      width:550px;
      height:40px;
      border-radius:10px;
      /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    /* Input field styling */
    .search input[type="text"] {
      padding: 10px 15px;
      border: none;
      outline: none;
      width: 100%;
      font-size: 16px;
      background-color: transparent;
      background-color: #faedef;
    }

    /* Search button with icon */
    .search button {
      padding: 10px 15px;
      background-color:#681016;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 10px;
    }

.login{
   display:flex;
   justify-content:center;
   align-items:center;
}

.login_logo{
   margin-right:10px;
   border-right: .063rem solid #efdada;
     padding-right:5px;
     margin-left:10px;
     font-family: Figtree-Medium, sans-serif;
    font-size: clamp(14px, 2vw, 1.125rem);
    font-weight: 500;
    color: #681016;
    margin-right:10px;
}
.wishlist{
    margin-right:10px;
    border-right: .063rem solid #efdada;
     padding-right:5px;
     margin-left:10px;
}
.cart{
   margin-right:110px;
  font-family: Figtree-SemiBold, sans-serif;
    font-size: .875rem;
    font-weight: 600;
    color: #681016;
    line-height: 1.25rem;
}
.menu{
    color:rgb(104, 16, 22);
    background-color:#FDEFE9;
    width:100%;
    height:60px;
    display: flex;
    flex-wrap: wrap;
    gap:35px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 50px;
    /* position:sticky; */
    /* top:10px; */
    /* position: relative; */
    /* font-size:1.2rem; */
}
#plan{
    background: linear-gradient(91.95deg, #b8292f -10%, #7c1a1f -9.98%, #b8292f 59.49%, #73171c 139.43%, #b8292f 139.44%) ;
    color:white;
    padding:10px;
    height:40px;
    border-radius:20px;
    display:flex;
    align-items:  center;

}

 /* all jewellery */
 .parent_div{
           width:100%;
           height:550px;
           padding:20px;
           line-height:1.5;
           display:flex;
           gap:35px;
           display:none;
           background-color: white;
        }
        .jewellery img{
            width:30px;
            height:30px;
            margin-right:20px;
            margin-top:5px;
        }
        .jewellery h2{
            font-family: Figtree-Medium, sans-serif;
    font-size:1.2rem;
    font-weight: 600;
    color: #681016;
   
        }
        .jewellery li{
              font-family: Figtree-Medium, sans-serif;
              font-size: 1.2rem;
              font-weight: 500;
              color: #681016;
              list-style: none;
        }
        .jewellery{
            margin-top:10px;
          
        }
        .img_one img{
            width:500px;
            height:200px;
            margin-left:280px;
            margin-top:20px;
        }
        .jewellery_hover:hover+.parent_div{
          display:flex;
          position: absolute;
          z-index: 99;
          left:0px;
       
        }

        /* gold */
         .gold_jewellery{
             width:100%;
           height:550px;
           padding:20px;
           line-height:1.5;
           display:flex;
           gap:35px;
           display:none;
           background-color: white;
        }
        .gold_collections{
             margin-top:10px;
        }
        .gold_collections img{
            width:30px;
            height:30px;
            margin-right:20px;
            margin-top:5px;
        }
        .gold_collections li{
            font-family: Figtree-Medium, sans-serif;
              font-size: 1.2rem;
              font-weight: 500;
              color: #681016;
              list-style: none;
        }
        .gold_collections h2{
             font-family: Figtree-Medium, sans-serif;
             font-size:1.2rem;
            font-weight: 600;
            color: #681016;
        }
        .three_designs img{
            width:500px;
            height:200px;
            margin-left:100px;
            margin-top:20px;
        }
        .gold_hover:hover+.gold_jewellery{
          display:flex;
          position: absolute;
          z-index: 99;
          left:0px;
       
        }
        /* offer */
.offers_grt{
    width:100%;
    height:830px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    /* background-color:aqua; */
    
}
.offers1_grt img{
    width:620px;
} 
.offers2 img{
    width:620px;
    margin-bottom:10px;
}
.offers3 img{
    margin-top:10px;
}
.offer_button{
    width:100%;
    height:70px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.offer_button button{
    width:350px;
    height:45px;
    background-color: #b8292f;
   color: #fff;
  border-radius: 20px;
    padding: 10px 20px;
    font-weight: 600;
    font-family: Figtree-SemiBold, sans-serif;
    box-shadow: none;
    /* margin: auto; */
    font-size: 16px;
    border-style:none;
    }

    .popular_parent h1{
    font-family: "Figtree-SemiBold", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #681016;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 1.5rem;
    margin-top:10px;
    margin-left:100px;
}
.popular_parent h3{
    font-size: 18px;
    font-family: 'Figtree-SemiBold';
    font-weight: 700;
    color: #681016;
    margin-bottom: 1rem;
    margin-left:100px;
    margin-top:1rem;
}
.popular_parent p{
    font-size: 18px;
    font-family: 'Figtree';
    font-weight: 400;
    color: #681016;
    margin-left:100px;
    margin-right:100px;
}

/* footer */
           .footer{
             width:100%;
             height:580px;
             background-color:white;
              color:#681016;
              display:flex;
              justify-content:center;
              
              /* text-align:left; */
           }
           .footer_grt{
              width:93%;
              height:100% ;
              background: linear-gradient(197.69deg, #fff8e5 5.17%, #fff0ca 99.34%);
             /* margin:30px; */
             margin-bottom:100px;
             padding:30px;
             display:flex;
             justify-content:space-between;
             border-radius:20px;
             /* gap:100px; */
           }
           .footer_left{
              width:20%;
              height:100%;
              /* background-image: url(../images/GRT_Logo.png); */
              
           }
          .up{
            display: flex;
            /* justify-content: center; */
            gap:150px;
          }
          .up1 h2{
             font-family: Koh Santepheap, sans-serif;
                font-size: 2rem;
                font-weight: 400;
                color:#681016;
          }
          .up1 p{
            text-align: left;
            line-height:1.5 ;
            margin-top:20px;
          }
          .icon{
             font-size:20px;
             /* border-radius:50%; */
             /* background-color: #681016; */
          }
          .border{
            height:60px;
            border-top: 1px solid #681016;
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin-top:10px;
          }
          .border1{
            border-bottom: 1px solid #681016;
          }
          #icon{
            /* height:20px; */
             border-radius:50%;
             background-color:#681016;
             /* padding:10px; */
             /* text-align:cente;d */
             /* display:flex;
             justify-content: center; */
          }
          .right_down{
             text-align:right;
          }
          .left_footer{
            margin-top:50px;
            margin-left:50px;
          }
          .up1 img{
             width:30px;
             height:25px;
             margin-right:10px;
          }
          .footer_img img{
             width:35px;
             height:25px;
             margin-top:10px;
             margin-right:5px;
          }

           @media (max-width: 768px) {
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
   .header1{
    display:none;
  }
  .currency{
    display:none;
  }
  .help{
    display:none;
  }
  .store_locator{
    margin-left:150px;
  }
  .delivery{
    display:none;
  }
  .virtual_shopping{
    display:none;
  }
  #sem{
    display: none;
  }
  #men{
    display:none;
  }
  .login_logo{
    display:none;
  }
#grt_logo{
  margin-left:-100px;
}
.offers_grt{
  display:block;
  /* margin:auto; */
}
.offers1_grt img{
  width:400px;
  /* margin-left:50px; */
  
}
.offers2 img, .offers3 img{
  width:90%;
  margin:auto;
  /* text-align: center; */
}

.popular_parent{
  margin-top:400px;
  margin-top:450px;
}
.footer{
  margin-top:30px;
}
.up{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.footer_grt{
  display: block;
}
.up1 p{
  display: none;
  line-height: 10px;
}
.up1 h2{
  display: none;
}
.media{
  margin-top: -250px;
}
.footer_grt{
  height:620px;
}
.right_down{
  font-size:.800rem;
  text-align:center;
  margin-top:20px;
}
}

/* ----------- TABLET (575px to 1199px) ----------- */
@media (min-width: 769px) and (max-width: 1199px){
  .header1{
    margin-left:-0px;
  }
.store_locator{
  margin-left:100px;
}
.calender{
  margin-left:20px;
}
.currency{
  margin-left:20px;
}
.help{
  margin-left:20px;
}
.grt_logo{
  margin-left:-0px;
}
.delivery{
  font-size:1rem;
}
#virtual_shopping{
  width:100px;
}
.menu{
  height:100px;
  font-size:.900rem;
}
#plan{
  margin-top:-50px;
  margin-left:800px;
}
.offers_grt img{
  width:500px;
  
}
.offers1_grt img{
  margin:auto;
}
.footer{
  margin-top:30px;
}

.left_footer img{
  width:180px;
  /* height:180px; */
  /* margin-left:-40px; */
}
.right_footer{
  margin-right:px;
}
.up1 h2{
 font-size:1.5rem ;
}
.up1 p{
  font-size:.900rem;
}
.up{
  display:flex;
  gap:80px;
}
}